.principal-titulo-seccion{
  background-color: #ca173e;
  color: white;
  justify-content: center;
  width: 100vw;
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;;
  font-weight: 700;
  align-items: center;
  height: 100px;
  margin-bottom: 1em;
}

.btn-primary{
  background-color: #ca173e !important;
  color: white !important;
  border: 1px solid #ca173e !important;
  width: 60% !important;
  align-self: center !important;
}

.btn-secondary{
  background-color: #453a93 !important;
  color: white !important;
  border: 1px solid #453a93 !important;
  width: 60% !important;
  align-self: center !important;
}
.btn:hover{
  background-color: inherit;
  color: inherit;
  border: inherit;
}

@media (min-width: 768px) {
  .principal-titulo-seccion{
    font-size: 2em;
  }
  .btn-primary:hover{
    background-color: #8076bd !important;
    color: white !important;
    border: 1px solid #8076bd !important;
  }
  .btn-secondary:hover{
    background-color: #8076bd !important;
    color: white !important;
    border: 1px solid #8076bd !important;
  }
}